html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background: linear-gradient(90deg, rgba(182,182,182,1) 10%, rgba(0,179,255,1) 50%, rgba(182,182,182,1) 90%);

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;   
    background-blend-mode: color-burn;
    scroll-behavior: smooth;
    font-family: 'Gruppo', cursive;
    
}

.container {
    margin-left: 10%;
    margin-right:10%;
    
}
#header{
    text-align: center;
    font-size: 700%;
    margin-bottom: 2%;
}
.head {
    font-size: 600%;

}
.title {
    font-size: 600%;
    margin-bottom: 0%;
}
.project{
    font-size: 250%;
}
.about {
    margin-bottom: 10%;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}
.content{
    margin-top: 20%;
    background-color: white;
    border: double 2px rgb(226, 226, 226);
}
p {
    font-size: 150%;
}
.main{
    color: ghostwhite;
    margin-top:20%;
    text-align: center;
    font-size: 25px;
}
.projects {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.proj-link{
    font-size: 140%;
    margin-right: 5%;

}
img {
    width: 90%;
    height: auto;
}

.resume{
    text-align: center;
    background-color: rgb(243,243,243);
    width:100%;
}
.effect{
    width:80%;
    height:auto;
    overflow:hidden;
    margin: 0 auto;
}
.effect img {
    border: 2px solid rgb(243, 243, 243);
    width: 75%;
    height: auto;
    transition: 0.5s all ease-in-out;
}
.effect:hover img{
    transform: scale(1.1);
}
footer {
    background-color: rgb(243,243,243)
}
.scroll {
    width: 5%;
    height: auto;
}
hr {
    height: 2px;
    background-color: rgb(226, 226, 226);
    border:none;
}
.social{
   display: inline-block;
   padding-left: 5%;
   padding-right: 5%;
   margin-left: 5%;
   margin-right: 5%;
   font-size: 140%;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
.scroll:hover { 
    animation: effect 0.3s infinite; 
} 

@keyframes effect { 
    0% { 
        transform: translateY(0px) rotate(0deg); 
    } 

    20% { 
        transform: translateY(-4px) rotate(-4deg); 
    } 

    40% { 
        transform: translateY(-2px) rotate(-2deg); 
    } 

    60% { 
        transform: translateY(4px) rotate(4deg); 
    } 

    80% { 
        transform: translateY(2px) rotate(2deg); 
    } 

    100% { 
        transform: translateY(0px) rotate(0deg); 
    } 
} 

@media only screen and (max-width: 600px){
    .container{
        margin-left:0%;
        margin-right:0%;
    }
    .title {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 300%;;
    }
    .content {
        margin-top: 10%;
    }
    .scroll{
        display: none;
    }
    .main{
        margin-top: -15%;
    }
    #header{
        font-size: 300%;
    }
    .about, .projects{
        margin-left: 5%;
        margin-right: 5%;
    }
    .proj-link{
        margin-right: 10%;

    }
    .social{
        font-size: 75%;
    }
    

}






